
.title {
  	font-weight: bold;
  	font-size: 20px;
}

.tooltip {	
    position: absolute;			
    text-align: left;			
    width: 120px;					
    height: 30px;					
    padding: 8px;				
    font: 14px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 2px;			
    pointer-events: none;			
}

.hover_line {
	stroke: #6F257F ;
  	stroke-width: 1px;
  	stroke-dasharray: 9,4;
}

.choose_text{
	text-anchor: middle;
	fill: white;
	font-size: 10px;
	cursor: pointer;
}

.choose_hint_text{
	fill: black ; 
	font-family: 'Arial Narrow' ; 
	text-anchor: middle;
	font-size: 12px;
}

.choose_hint_warn{
	fill: red ; 
	font-family: 'Arial Narrow' ; 
	text-anchor: middle;
	font-size: 12px;
}

.axis path,
.axis line{
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 12px;
}

.IQRGroup_line{
	stroke: orange ;
	stroke-width: 1px;
	
}

.IQRGroup_text{
	font-size: 15px;
	fill: darkorange;
}

